<mat-toolbar color="accent">
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="snav.toggle()"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <span class="mat__spacer"></span>
    <input class="search__query" type="search" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search.." />
    <button mat-icon-button>
        <mat-icon> refresh </mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon> settings </mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon> person_outline </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav
        #snav
        role="navigation"
        [opened]="screenWidth > 840"
        [mode]="screenWidth > 840 ? 'side' : 'over'"
        class="side-nav-bg"
    >
        <mat-nav-list>
            <ng-container *ngFor="let menu of menusList">
                <mat-list-item>
                    <mat-icon>{{ menu.icon }}</mat-icon>
                    <span class="menu__name">{{ menu.name }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main class="main__app">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
