@import "../styles/variables.scss";

mat-sidenav {
    width: 220px;
}

mat-sidenav-container,
mat-sidenav-content {
    height: 100vh;
}

mat-sidenav-content {
    overflow: hidden !important;
}

mat-icon {
    margin-right: 10px;
}

.mat-list-item {
    color: white;
}

.search__query {
    height: 46px;
    width: 300px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: large;
}

.main__app {
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 100px;
}
